.avatar1 {
    border-radius: 50px;
    height: 30px;
    width: 30px;
}

hr.style2 {
     border-top: 3px double #8c8b8b;
}

.css-serial {
    counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
    counter-increment: serial-number;  /* Increment the serial number counter */
    content: counter(serial-number);  /* Display the counter */
}