html, body {
    padding-top: 9vh;
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    margin: 0;
}

.flex-center {
    align-items: center;
    display: flex;
    justify-content: center;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 18px;
}

.content {
    text-align: center;
}

.title {
    font-size: 7vmin;
}

.progress-bar {
    color: #333;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
}

.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
    @include box-sizing(border-box);
    &:focus {
        z-index: 2;
    }
}

.login-form {
    margin-top: 0;
}

form[role=login] {
    color: #5d5d5d;
    background: #f2f2f2;
    padding: 0 20px;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

form[role=login] img {
    display: block;
    margin: 0 auto;
    margin-bottom: 35px;
}

form[role=login] input, form[role=login] button {
    font-size: 18px;
    margin: 16px 0;
}

form[role=login]>div {
    text-align: center;
}

.form-links {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 50px;
}

.form-links a {
    color: #fff;
}
